.slide-container {
    width: 100%;
    
}
   
  h3 {
    text-align: center; }
   
  .each-slide > div {
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }
  .imgSlide{
      height:600px ;
      width:98% ;

  }
 p{
   width: 30%;
   height:280px;
   font-size: 25px;
   color: gray;
   margin: 15px;
   padding: 10px;


 }
h1{
  padding:10px;
} 
span{
  font-size:18px;
  color: gray;
}  
img{
  padding:0;
  margin:0;
}