.slide-container {
    width: 90%;
    margin: auto;
    
}
   
  h3 {
    text-align: center; }
   
  .each-slide > div {
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  }
  .imgSlide{
      height:500px ;
      width:100% ;

  }
 p{
   width: 30%;
   
   font-size: 25px;
   color: gray;
   margin: 15px;
   padding: 10px;


 }
h1{
  padding:10px;
} 
span{
  font-size: 25px;
  color: gray;
}  